.dan {
	font-size: 23px;
	font-family: Andale Mono, monospace;
}

.dog {
	font-size: 23px;
	font-family: Andale Mono, monospace;
}

.vi {
	font-size: 23px;
	font-family: Andale Mono, monospace;
}

.mo {
	font-size: 23px;
	font-family: Andale Mono, monospace;
}

.a {
	font-size: 23px;
	font-family: Andale Mono, monospace;
}

body {
	background-color: #BCD2EE;
}

.oi {
	color: #353333;
	text-align: center;
	font-size: 30px;
}