.URBANA {	
font-size: 22px;
	font-family: Andale Mono, monospace;
}

.DOBRÁVEIS {	
font-size: 22px;
	font-family: Andale Mono, monospace;
}

.FIXA {	
font-size: 22px;
	font-family: Andale Mono, monospace;
}

.SPEED {	
font-size: 22px;
	font-family: Andale Mono, monospace;
}

.BMX {	
font-size: 22px;
	font-family: Andale Mono, monospace;
}

.DOWNHILL {	
font-size: 22px;
	font-family: Andale Mono, monospace;
}

.INFANTIL {	
font-size: 22px;
	font-family: Andale Mono, monospace;
}

.ELETRICA {	
font-size: 22px;
	font-family: Andale Mono, monospace;
}

body {
	background-color: #BCD2EE;
}

.oi {
	font-size: 22px;
	font-family: Andale Mono, monospace;
}

.inf1 {
	color: #353333;
	text-align: center;
	font-size: 30px;
}