body {
	background-color: #BCD2EE;
}

.umpouco {
	font-size: 25px;
	font-family: Andale Mono, monospace;
}

.bicicleta {
	font-size: 25px;
	font-family: Andale Mono, monospace;
}

.Kark {
	font-size: 25px;
	font-family: Andale Mono, monospace;
}

.Boneshaker {
	font-size: 25px;
	font-family: Andale Mono, monospace;
}

.alta {
	font-size: 25px;
	font-family: Andale Mono, monospace;
}

.segurança {
	font-size: 25px;
	font-family: Andale Mono, monospace;
}

.inf1 {
		color: #353333;
	text-align: center;
	font-size: 30px;

}